package ${packageName}.controller;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import org.springframework.beans.factory.annotation.Autowired;
import io.swagger.annotations.ApiOperation;

import com.zhiyu.common.utils.ApiResult;
import org.springframework.web.bind.annotation.*;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import ${packageName}.${className};
import ${packageName}.service.${className}Service;
import ${packageName}.entity.query.${className}Query;


/**
 * @author $author
 */
@RestController
@RequestMapping("/${className}")
public class $!{className}Controller{

	 @Autowired
	 ${className}Service  ${lowerClassName}Service;  //服务
    /**
    * ${tableComment}分页查询
    * @param ${className}Query  查询${tableComment}
    * @return ApiResult<>
    */
	@RequestMapping("/allPageQuery")
	@ApiOperation(value = "/allPageQuery", notes = "${className}初始化查询接口", produces = "application/json")
	@ResponseBody
    public ApiResult<IPage<${className}>> allPageQuery(${className}Query ${lowerClassName}Query){
		IPage<${className}> iPage = new Page<>( ${lowerClassName}Query.getCurrent() ,${lowerClassName}Query.getSize());
		try {
		    //根据需求修改文件${className}Mapper.xml
            iPage=  ${lowerClassName}Service.allPageQuery(iPage,${lowerClassName}Query);
        } catch (Exception e) {
            e.printStackTrace();
        }   
        return new ApiResult<>(iPage);   
    }
    
}
