package ${packageName}.entity.query;

import ${packageName}.${ClassName};
import com.zhiyu.common.core.entity.BasePageInfo;
import lombok.Data;
import java.util.Date;




/**
 * @author $author
 */
@Data
public class ${ClassName}Query extends  BasePageInfo<${ClassName}> {

    #foreach ($column in ${columns})
    /**
     * $!{column.columnComment}
     */
    private $column.javaType $column.javaField;
    #end

}
