package ${packageName}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${packageName}.mapper.${className}Mapper;
import ${packageName}.entity.${className};
import ${packageName}.service.${className}Service;
import ${packageName}.entity.query.${className}Query;
import org.springframework.stereotype.Service;
import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;


/**
 * @author $author
 */
@Service
public class ${className}ServiceImpl extends ServiceImpl<$!{className}Mapper, $!{className}> implements $!{className}Service  {

  @Autowired 
  private ${className}Mapper ${lowerClassName}Mapper;

    /**
   * ${tableComment}分页查询
   * @param Page<${className}> ${tableComment}
   * @param ${className}Query
   * @return IPage<${className}>
   */
    @Override
    public IPage<${className}> allPageQuery(IPage<${className}> iPage, ${className}Query query) {
    	try {
      		List<${className}> pageList = ${lowerClassName}Mapper.allPageQuery(iPage,query);
      		iPage.setRecords(pageList);
    	} catch (Exception e) {
            e.printStackTrace(); 
      	}   
      return iPage;
    }
}
