package ${packageName}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.entity.${ClassName};
import ${packageName}.service.${ClassName}Service;
import ${packageName}.entity.query.${ClassName}Query;
import org.springframework.stereotype.Service;
import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;


/**
 * ${functionName}Service业务层处理
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl extends ServiceImpl<$!{ClassName}Mapper, $!{ClassName}> implements $!{ClassName}Service  {

  @Autowired 
  private ${ClassName}Mapper ${className}Mapper;

    /**
   * ${tableComment}分页查询
   * @param Page<${ClassName}> ${tableComment}
   * @param ${ClassName}Query
   * @return IPage<${ClassName}>
   */
    @Override
    public IPage<${ClassName}> pageQuery(IPage<${ClassName}> iPage, ${ClassName}Query query) {
      return ${className}Mapper.pageQuery(iPage,query);;
    }
}
