package ${packageName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.IService;
import $!{packageName}.entity.$!{className};
import $!{packageName}.query$!{className}Query;



/**
 * @author $author
 */
public interface ${className}Service extends IService<$!{className}>{

   /**
   * ${tableComment}分页查询
   * @param IPage<${className}  ${tableComment}
   * @param ${className}Query
   * @return IPage<${className}>
   */
   IPage<${className}> allPageQuery(IPage<${className}> iPage, ${className}Query ${lowerClassName}Query);
}
